.Home {
    min-width: 430px;
    max-width: 1250px;
    margin: auto;
}

.Tiles {
    align-self: center;
}

.Tile {
    background-color: white;
    border-radius: 10px;
    margin-left: 30px;
    margin-right: 35px;
    margin-top: 35px;
    margin-bottom: 25px;
    min-height: 250px;
    min-width: 350px;
    width: auto;
    height: '100% !important';
    box-shadow: 0px 3px 30px 2px rgba(34, 38, 51, 0.1);
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.Tile:hover {
    transform: scale(1.05);
}

.NameContainer {
    text-align: left;
    color: rgba(94, 129, 244, 1);
    font-family: "averta-bold";
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 350px;
    width: 100%;
}

.Total {
    color: gray;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "averta-regular";
}

.Divider {
    width: 3px;
    height: 3px;
    border-radius: 100px;
    background-color: gray;
    margin-left: 6px;
    margin-right: 6px;
}

.TileTop {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    text-align: left;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 90px;
}

.Date {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.TileBottom {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    font-weight: bold;
    color: rgba(94, 129, 244, 1)
}

.ViewAttendance {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Ellipse {
    cursor: pointer;
    margin-right: 50px;
}